body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 42px;
  margin: 0 0 20px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.15ch;
  color: #983712;
}

.flex-wrap {
  display: flex;
  min-height: 100vh;
  background-image: linear-gradient(30deg, papayawhip, coral);
  align-items: flex-start;
  justify-content: stretch;
  text-align: center;
}

.app-card {
  background: white;
  width: 100%;
  margin: 30px 10px 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px orangered;
}

.race-button-group {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.race-button {
  border: none;
  box-shadow: 0 0 3px #aaa;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
  transition: transform 0.1s;
}

.race-button.mountain-dwarf {
  background-color: papayawhip;
  border: solid 1px peachpuff;
  box-shadow: 0 0 5px peru;
}

.race-button.elf {
  background-color: palegreen;
  border: solid 1px springgreen;
  box-shadow: 0 0 5px forestgreen;
}

.race-button.human {
  background-color: sandybrown;
  border: solid 1px chocolate;
  box-shadow: 0 0 5px saddlebrown;
}

.race-button img {
  width: 100%;
}

.current {
  transform: scale(1.3);
  border: 1px solid black !important;
}

.animation {
  border-radius: 50%;
  animation: animation 2s;
}

